bitsandbytes==0.42.0
datasets==2.18.0
gradio==4.27.0
gradio_client==0.15.1
huggingface-hub==0.22.2
langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.44
langchain-openai==0.0.5
langchain-text-splitters==0.0.1
langsmith==0.1.48
litellm==1.35.12
numpy==1.26.4
openai==1.22.0
peft==0.10.0
pillow==10.3.0
pydantic==2.7.0
pydantic_core==2.18.1
referencing==0.34.0
torch==2.2.0
tqdm==4.66.2
transformers==4.40.0
spaces==0.27.0